/*****************************
			fonts
*****************************/
/*OPEN SANS*/
@font-face {
  font-family: Franklin Gothic Medium Regular;
  src: url(../fonts/Franklin-Gothic-Medium-Regular.ttf);
}
/*****************************
			main
*****************************/
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
  /*отключить внешние границы*/
  background: transparent;
  /*отключить background*/
}
a,
h1,
h2,
h3,
i,
p {
  font-family: Franklin Gothic Medium Regular;
}
button {
  outline: none;
}
h2 {
  text-align: center;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
.container {
  max-width: 1030px;
}
.calculator,
.list,
.people,
.target,
.cogwheel {
  background: url(../images/sprites.png) no-repeat;
}
/*****************************
			header
*****************************/
header {
  padding-top: 20px;
}
header .social {
  margin-left: 39px;
  padding-top: 31px;
}
header .social p {
  font-family: Franklin Gothic Medium Regular;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 7px;
}
header .social ul a {
  text-decoration: none;
}
header .social ul a li {
  background: #ff6501;
  display: inline-block;
  color: #fff;
  padding: 18px;
  border-radius: 22px;
  margin-right: 10px;
  position: relative;
}
header .social ul a li i {
  position: absolute;
  z-index: 10;
  top: 6px;
  left: 10px;
  font-size: 22px;
}
header .social ul a li i.fa-facebook {
  padding-left: 2px;
}
header .social ul a li i.fa-vk {
  margin-left: -3px;
}
header .social ul a li:hover i {
  color: #d7d7d7;
}
header .social button {
  background: #ff6501;
  border: 0;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 22px;
  font-size: 19px;
  padding: 0px 13px;
  border-radius: 18px;
}
header .social button:hover {
  color: #d7d7d7;
}
header .logo {
  margin-left: 44px;
}
header .phones {
  padding-top: 23px;
  padding-left: 24px;
}
header .phones P {
  padding-left: 5px;
  font-size: 24.65px;
  text-transform: uppercase;
  margin-bottom: 0;
}
header .phones ul {
  margin-top: -3px;
}
header .phones ul li {
  font-size: 20px;
  font-family: Franklin Gothic Medium Regular;
  line-height: 1.88;
}
header .phones ul li i {
  width: 24px;
  height: 24px;
  padding-left: 5px;
  padding-top: 4px;
  border-radius: 24px;
  background: #ff6501;
  margin-right: 2px;
  font-size: 18px;
}
/*****************************
		navigation
*****************************/
section.navigation {
  background: #ff6501;
}
section.navigation .navbar {
  margin-bottom: 0;
}
section.navigation .navbar #responsive-menu ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 15px;
  padding-top: 2px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
}
section.navigation .navbar #responsive-menu ul.navbar-nav {
  float: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li {
  padding: 5px 20px;
  float: none;
  position: relative;
  display: inline-block;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li:hover .jaw div {
  -webkit-transform: translateY(8px);
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a:hover {
  color: #d7d7d7;
}
/*****************************
		main slider
*****************************/
section#main_slider .carousel-inner .item {
  border-bottom: 2px solid #ff6501;
}
section#main_slider .carousel-inner .item .container {
  margin-top: -1px;
}
section#main_slider .carousel-inner .item .container .carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  padding: 37px;
  right: 0;
  left: 15px;
  text-align: left;
  top: 103px;
  width: 433px;
  height: 245px;
  border-radius: 28px;
}
section#main_slider .carousel-inner .item .container .carousel-caption p {
  font-size: 33px;
}
section#main_slider .carousel-inner .item .container .carousel-caption p:first-child {
  font-size: 40px;
  margin-bottom: 1px;
}
section#main_slider .carousel-inner .item .container .carousel-caption button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section#main_slider .carousel-inner .item .container .carousel-caption button:hover {
  color: #d7d7d7;
}
/*****************************
		services
*****************************/
section.services {
  text-align: center;
}
section.services h2 {
  font-size: 35px;
  padding-top: 8px;
  padding-bottom: 25px;
}
section.services .service-item {
  height: 315px;
  overflow-y: hidden;
  margin-bottom: 13px;
}
section.services .service-item h3 {
  font-size: 17px;
  line-height: 1.2;
}
section.services .service-item p {
  padding: 0 3px;
  font-size: 15.5px;
  line-height: 1.2;
}
section.services .service-item div.service-img {
  text-align: center;
}
section.services .service-item div.service-img .calculator {
  background-position: 0 0;
  width: 84px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .calculator:hover {
  background-position: -79px 0;
}
section.services .service-item div.service-img .list {
  background-position: -167px -4px;
  width: 101px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .list:hover {
  background-position: -265px -3px;
}
section.services .service-item div.service-img .people {
  background-position: -368px 0;
  width: 100px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .people:hover {
  background-position: -468px 0;
}
section.services .service-item div.service-img .target {
  background-position: 0 -97px;
  width: 88px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .target:hover {
  background-position: -93px -99px;
}
section.services .service-item div.service-img .cogwheel {
  background-position: -184px -96px;
  width: 99px;
  height: 98px;
  margin: 0 auto;
  display: block;
}
section.services .service-item div.service-img .cogwheel:hover {
  background-position: -279px -98px;
}
/*****************************
		img_block
*****************************/
section.img_block {
  background: url(../images/img_block.jpg);
  color: #fff;
}
section.img_block .info_block {
  background: rgba(0, 0, 0, 0.3);
  padding: 37px;
  text-align: left;
  width: 433px;
  height: 245px;
  border-radius: 28px;
}
section.img_block .info_block p {
  font-size: 33px;
}
section.img_block .info_block p:first-child {
  font-size: 40px;
  margin-bottom: 1px;
}
section.img_block .info_block button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section.img_block .info_block button:hover {
  color: #d7d7d7;
}
/*****************************
			propose
*****************************/
/*****************************
			footer
*****************************/
footer {
  background: #ff6501;
  margin-top: 30px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  /*
	header, section{
		padding-left : 25px;
		padding-right: 25px;
	} 
	*/
}
