@orange: #ff6501;
@color_hover: #d7d7d7;
@FGM-regular: Franklin Gothic Medium Regular;
@some: OpenSans-BoldItalic;

/*for page "Contacts"*/
@light-gray:#F3F3F3;

/*-------------------*/

/*****************************
			fonts
*****************************/
/*OPEN SANS*/
@font-face {
	font-family: Franklin Gothic Medium Regular;
	src: url(../fonts/Franklin-Gothic-Medium-Regular.ttf);
}
/*****************************
			main
*****************************/
a:hover{
	cursor: pointer;
}
a:focus {
	outline: none; /*отключить внешние границы*/
	background: transparent; /*отключить background*/
}
a, h1, h2, h3, i, p{font-family: @FGM-regular;}
button{
	outline: none;
}
h2{
	text-align: center;
}
ul{
	padding-left: 0;
	li{
		list-style-type: none;
	}
}
.container{
	max-width: 1030px;
}
.calculator, .list, .people, .target, .cogwheel{
	background: url(../images/sprites.png) no-repeat;
}

/*****************************
			header
*****************************/
header{
	padding-top: 20px;
	.social{
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto;
		padding-top: 31px;
        margin-left: 40px;
		p{
			font-family: @FGM-regular;
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 7px;
		}
		ul{
            display: table;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
		    } 
        a{
            display: inline-block;
			text-decoration: none;
			li{
				background: @orange;
				display: inline-block;
				color: #fff;
				padding: 18px;
				border-radius: 22px;
				margin-right: 10px;
				position: relative;
				i{
					position: absolute;
					z-index: 10;
					top: 7px;
                    left: 9px;
					font-size: 22px;

					&.fa-facebook{
						padding-left: 2px;
					}
					&.fa-vk{
						margin-left: -3px;
					}
				}
				&:hover i{
					color: @color_hover;
				}
			}
		}
		button{
            width: 97%;
            margin-left: 3px;
			background: @orange;
			border: 0;
			color: #fff;
			margin-top: 15px;
			margin-bottom: 22px;
			font-size: 19px;
			padding: 0px 13px;
			border-radius: 18px;
			&:hover{
				color: @color_hover;
			}
		}
	}
	.logo{
        width: 254px;
        margin-left: 45px;
        display: table;
        margin-right: auto;
        padding-right: 30px;
        img{
            width: 100%;
        }
	}
	.phones{
        margin-left: 24px;
		padding-top: 23px;
		padding-left: 24px;
        width: 123%;
		P{
			padding-left: 5px;
			font-size: 24.65px;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		ul{
			margin-top: -3px;
			li{
				font-size: 20px;
				font-family: @FGM-regular;
				line-height: 1.88;
				i{
					width: 24px;
					height: 24px;
					padding-left: 5px;
					padding-top: 4px;
					border-radius: 24px;
					background: #ff6501;
					margin-right: 2px;
					font-size: 18px;
                    color: white;
				}
                .fa-mobile-last{
                    padding-left: 7px;
                    padding-top: 1px;
                    font-size: 22px;
                }
			}

		}
	}
}
/*****************************
		navigation
*****************************/
section.navigation{
	background: @orange;
	.navbar{
		margin-bottom: 0;
		.navbar-header{
            button{
               border: 2px solid white !important;
               .icon-bar{
                   background-color: #fff !important;
               }
            }
		}
		#responsive-menu{
			ul{
				list-style-type: none;
				text-align: center;
				padding-left: 0;
				padding-bottom: 15px;
				padding-top: 2px;
				margin-top: 13px;
				margin-left: auto;
				margin-right: auto;

				&.navbar-nav{
					float: none;
					li{
						padding:5px 20px;
						float: none;
						position: relative;
						display: inline-block;
						&:hover .jaw div{
							-webkit-transform: translateY(8px);
						}
						a{
							color: #fff;
							font-size: 17px;
							text-decoration: none;
							&:hover{
								color:@color_hover;
							}
						}
					}
				}
			}
		}
	}
}
/*****************************
		main slider
*****************************/
section#main_slider{
	.carousel-inner{
		.item{
			border-bottom: 2px solid @orange;
            .carousel-img{
                width:100%;
                height:560px;
                background:url(../images/main_slider1.jpg) no-repeat center;
                background-size:cover;
                
            }
			.container{
				margin-top: -1px;
				.carousel-caption{
					background: rgba(0,0,0,.3);
					padding:37px;
					right: 0;
					left: 15px;
					text-align: left;
					top:103px;
					width: 433px;
					height: 245px;
					border-radius: 28px;
					p{
						font-size: 33px;
						&:first-child{
							font-size:40px;
							margin-bottom: 1px;
						}
					}
					button{
						background: @orange;
						border: 0;
						margin-top: 10px;
						padding: 4px 12px;
						font-size: 17px;
						&:hover{
							color:@color_hover;
						}
					}
				}
			}
		}
	}
}

/*****************************
		services
*****************************/
section.services{
	text-align: center;
    margin-bottom:25px;
	h2{
		font-size: 35px;
		padding-top: 8px;
		padding-bottom: 25px;
	}
	.service-item{
		height: 315px;
		overflow-y: hidden;
		margin-bottom: 13px;
		h3{
			font-size: 17px;
			line-height: 1.2;
		}
		p{
			padding: 0 3px;
			font-size: 15.5px;
			line-height: 1.2;
		}
		div.service-img{
			text-align: center;
			.calculator{
				background-position: 0 0;
				width: 84px;
				height: 98px;
				display: block;
				margin:0 auto;
				&:hover{
					background-position: -79px 0;
				}
			}
			.list{
				background-position: -167px -4px;
				width: 101px;
				height: 98px;
				display: block;
				margin:0 auto;
				&:hover{
					background-position: -265px -3px;
				}
			}
			.people{
				background-position: -368px 0;
				width: 100px;
				height: 98px;
				display: block;
				margin:0 auto;
				&:hover{
					background-position: -468px 0;
				}
			}
			.target{
				background-position: 0 -97px ;
				width: 88px;
				height: 98px;
				display: block;
				margin:0 auto;
				&:hover{
					background-position: -93px -99px ;
				}
			}
			.cogwheel{
				background-position: -184px -96px ;
				width: 99px;
				height: 98px;
				margin:0 auto;
				display: block;
				&:hover{
					background-position: -279px -98px;
				}
			}
		}
	}
}

/*****************************
		img_block
*****************************/
section.img_block{
	background: url(../images/img_block.jpg) no-repeat center;
    background-size:cover;
	color: #fff;
    margin-top:20px;
    border-top:2px solid @orange;
    border-bottom:2px solid @orange;
	.info_block{
		background: rgba(0,0,0,.3);
		padding: 25px 50px;
        margin: 45px 0;
		text-align: left;
		width: 433px;
		border-radius: 28px;
		p{
			font-size: 32px;
			&:first-child{
				font-size:40px;
				margin-bottom: 1px;
			}
		}
		button{
			background: @orange;
			border: 0;
			margin-top: 10px;
			padding: 4px 12px;
			font-size: 17px;
			&:hover{
				color:@color_hover;
			}
		}
	}
}
/*****************************
			propose
*****************************/
section.propose{
        margin-bottom: 40px;
	h2{
		margin:30px 0px;
	}
	.slide{
		 padding: 1px;
		 text-align: center;
		 border:1px solid @orange;
		 margin-bottom:20px;
		 cursor:pointer;
		 height: 225px;
		 overflow: hidden;
		 &:hover .order{
            -webkit-transform: translateY(-120px);
            -moz-transform: translateY(-120px);
            -o-transform: translateY(-120px);
             transform: translateY(-120px);
		 }
		 .info_block{
			position: relative;
			button{
				color: #fff;
				background: @orange;
				border: 0;
				margin-top: 10px;
				padding: 4px 30px;
				font-size: 17px;
				&:hover{
					color:@color_hover;
				}
			}
			h3{
				margin-top: 0;
				padding: 20px 0 5px 0;
			}
			p{
				margin-bottom: 0;
				padding-bottom: 20px;
			}
			.tour-info{
				
			}
			.order{
				padding: 32px 0;
				font-size: 26px;
				position: absolute;
				z-index: 10;
				bottom: 0;
				background-color: @orange;
				opacity: 0.9;
				width: 100%;
				height: 100%;
				top: 120px;
				-webkit-transition: -webkit-transform 600ms;
				-moz-transition: -webkit-transform 600ms;
				-o-transition: -webkit-transform 600ms;
				transition: -webkit-transform 600ms;
				a{
					color: white;
					&:hover{
						text-decoration:none;
						color:@color_hover;
					}
				}
			}
		 }
		 img{
			 width:100%;
		 }
		
	}
}
.bx-wrapper{
	border:none;
	.bx-viewport{
		border:none;
		height: 240px;
	}
}
/*****************************
			footer
*****************************/
footer{
	background: @orange;
	color: #fff;
    .footer-column{
        margin:20px 0;
        text-align:center;
        p{
            margin-bottom: 10px;
        }
        .footer-first-b{
             display: inline-block;
             margin-bottom: 10px;
        }
        ul{
            display: inline-block;
            li{
                width: 100%;
                float: right;
                margin-bottom: 3px;
                i{
                    width: 24px;
                    height: 24px;
                    padding-left: 2px;
                    padding-top: 4px;
                    border-radius: 24px;
                    background: white;
                    margin-right: 8px;
                    font-size: 18px;
                    color: @orange;
                }
                i:hover{
                    color:@color_hover;
                }
                p{
                    float:right;
                }
                .fa-smart-phone{
                    padding-left: 1px;
                    padding-top: 2px;
                    font-size: 22px;
                }
                .fa-email{
                    float: left;
                    padding-top: 0;
                    font-size: 22px;
                    padding-right: 1px;
                    margin-left: 35px;
                    background-color:transparent;
                    color:white;
                }
            }
        }
    }
    .footer-social{
        padding-top: 16px;
        ul{
            margin-left: 10px;
            padding-top: 10px;
            a{
                display:inline-block;
                float:left;
                li{
                    i{
                        padding-left: 0px;
                            font-size: 16px;
                    }
                }
            }
        }
    }
}


/*****************************
*****************************/
/*****************************
		Page - Contacts
*****************************/
/*****************************
*****************************/
.contacts-container-bottom{
    background-color:@light-gray;
    padding:3px 0 30px 0;
}
  .contacts-profile{
      margin-top: 20px;
      text-align: center;
        img{
            width: 100%;
            margin-bottom:15px;
            max-width: 290px;
        }
        span{
            font-size: 16px;
        }
        ul{
            display: table;
            margin-left: auto;
            margin-right: auto;
            padding-left: 18px;
            margin-top:15px;
            li{
                float: left;
                margin-bottom:10px;
                i{
                    font-size: 22px;
                }
                a{
                    text-decoration:none;
                    color:black;
                }
                a:hover{
                    color:@color_hover;
                }
                .contacts-icon{
                    float: left;
                    margin-right:10px;
                    border-radius: 20px;
                    display: inline-block;
                    padding: 9px 7px 6px 9px;
                    background-color: @orange;
                    color:white;
                }
                .icon-fb{
                    padding: 9px 13px 6px 13px;
                }
                .icon-vk{
                    padding: 9px 8px 6px 8px;
                }
                .icon-tw{
                    padding: 9px 9px 6px 9px;
                }
            }
        }

    }
.contacts-container{
    padding-bottom:40px;
}
.contacts-map{
    display:inline-block;
}
.test{
    height:400px;
    border:1px solid;
}
.contacts-about{

    ul{
        margin-top:20px;
        padding-left:30px;
        li{
            list-style:circle;
        }
    }
}
aside{
    header{
        h4{
            margin-bottom: 0;
        }
    }
    .contacts-aside{
        margin-bottom: 16px;
    }
}


/*****************************
*****************************/

@media screen and (max-width: 2000px){
    header .phones{
        padding-left: 0;
	}
    header .phones{
        margin-left: 5px;
    }
}
@media screen and (max-width: 1208px){
    footer .footer-column ul li .fa-email{
        margin-left: 27px;
    }
}
@media screen and (max-width: 1091px){
    .phones{
        display: table !important;
        margin-left: auto;
        margin-right: auto;
        width:auto;
    }
        footer .footer-column ul li .fa-email{
        margin-left: 29px;
    }

}
@media screen and (max-width: 991px){
	header .social{
       margin-left: auto;
	}
    header .logo {
    margin-left: auto;
    display: table;
    margin-right: auto;
    padding-right: 0;
    }
    header .phones {
        margin-left: auto; 
        width:auto;
    }
    #responsive-menu{
		ul{
		    &.navbar-nav{
				li{
					padding:5px 10px !important;
                    }
                }
            }
    }
    footer .footer-column ul li .fa-email {
    float:none;
    margin-left: 28px;
    }

    footer .footer-column ul li .fa-email{
        margin-left: 27px;
    }

}
@media screen and (max-width: 767px){
    #responsive-menu{
	    ul{
		    width: 166px;
          }
    }
    section.img_block .info_block{
                width: 226px;
        }
    .info-text{
        display:none;
    }
       .carousel{
        display:none;
    }
}
@media screen and (min-width: 768px){
	
}

@media screen and (min-width: 992px){
	
}